* {
	box-sizing: border-box;
}

main {
	/* display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 100px); */
	background-image: url("/img/fondo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-size: 26rem;
}

#titulo {
	display: flex;
}

h1 {
	position: relative;
	left: 95px;
	bottom: 12px;
	font-family: "East Sea Dokdo", sans-serif;
	font-weight: 900;
	font-style: normal;
	color: rgb(211, 216, 219);
	font-size: 40px;
}
#imagen0 {
	width: 150px;
	height: 150px;
	position: relative;
	bottom: 40px;
	left: 20px;
}
.col {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-evenly;
}

#comenzarJuego {
	width: 110px;
}

#pista {
	width: 110px;
}
#darPista {
	display: flex;
	align-items: center;
	justify-content: center;
}
#spanPista {
	height: 50px;
}
@media (max-width: 932px) {
	main {
		width: 100%;
		height: 100%;
	}
}
