@font-face {
	font-family: "Skrawk Serif";
	src: url("/fonts/skrawk_serif/Skrawk-Serif.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	text-align: center;
	font-size: 40px;
}
.fuentePizarraBlanco {
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	font-family: "East Sea Dokdo", sans-serif;
	font-weight: 900;
	font-style: normal;
	color: rgb(211, 216, 219);
}
.fuentePizarraNegro {
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	font-family: "East Sea Dokdo", sans-serif;
	font-weight: 900;
	font-style: normal;
	color: rgb(56, 57, 58);
}

.wrapperImg {
	position: relative;
	top: 0;
	left: 0;
	z-index: -1;
}

.imagenPizarra {
	width: 100%;
	height: auto;
}
.pizarra {
	display: grid;
	grid-template-rows: 10% 90%;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.gridInterfaz {
	display: grid;
	grid-template-columns: 30% 70%;
}
.gridMensajes {
	display: grid;
	grid-template-rows: 50% 50%;
}

.mensajesWrapper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#mensajesErrorAcierto {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
#msgFinal {
	width: 45vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
#contenedorPalabraOculta {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* #parteTeclado {
	background-image: url(/img/imgFondoTeclado.jpg);
} */

/* #titulo {
	display: flex;
} */

.horcaWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

#imagen0 {
	width: 100%;
	height: auto;
}

#comenzarJuego {
	width: 110px;
	grid-column: 1/1;
	border-radius: 20px;
}

#pista {
	width: 110px;
	height: 40px;
	grid-column: 2/2;
	border-radius: 20px;
}

#palabraOculta {
	margin-bottom: 50px;
	margin-right: 10px;
	font-size: 2rem;
	letter-spacing: 8px;
}

#darPista {
	display: flex;
	align-items: center;
	justify-content: center;
}

#spanPista {
	height: 50px;
	text-align: center;
	margin-top: 70px;
	font-size: 2rem;
}

.winImg {
	width: 100%;
	height: auto;
	max-width: 30vw;
	max-height: 30vh;
}

.wrapperTeclado {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapperTeclas {
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.absolute {
	position: absolute;
	top: 0;
}
.imgFondo2 {
	height: 380px;
}

.letra {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	transition: opacity 0.3s ease;
	font-size: 1.5rem;
}

.letra:hover {
	opacity: 0.8;
}

.letra:disabled {
	color: rgba(255, 0, 0, 0.5);
}

.col {
	width: 50%;
	text-align: center;
	display: grid;
	display: flex;
	gap: 25px;
}
.colTeclado {
	width: 50%;
	text-align: center;
	display: flex;
	gap: 25px;
}

.wrapperInicioPista {
	width: 100%;
	max-height: 226px;
	height: auto;
	display: flex;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
}

.gridBotones {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#winGameOverImg {
	display: flex;
	align-items: center;
	justify-content: center;
}

#flexRow {
	display: flex;
	justify-content: center;
	font-size: 2rem;
}

/* Teclado */
#parteTeclado {
	grid-row: 3/5;
	grid-column: 1/5;
}

#abecedario {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px auto;
	width: 80vw;
}
.letra {
	width: 30px;
	height: 30px;
	margin: 2px;
	font-size: 1.5rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-weight: bold;
	color: rgba(0, 0, 255, 0.849);
	font-family: Skrawk Serif;
}
